{% extends "base.html" %}

{% block content %}
    <h1>Detail</h1>

   	<a href="{% url 'itam_app:get_barcode' object.serial_number %}" target="_blank">Generate Barcode</a>


	<table class="table table-striped table-borderless table-hover table-sm">
	  <tbody>
	    <tr>
	      <th>Name: </th>
	      <td>{{ object.display_name }}</td>
	    </tr>
	    <tr>
	      <th>Mac Address: </th>
	      <td>{{ object.mac_address }}</td>
	    </tr>
	    <tr>
	      <th>Serial Number: </th>
	      <td>{{ object.serial_number }}</td>
	    </tr>
	    <tr>
	      <th>Date Assigned: </th>
	      <td>{{ object.date_assigned }}</td>
	    </tr>
	    <tr>
	      <th>Employee: </th>
	      <td>{{ object.employee }}</td>
	    </tr>
	    <tr>
	      <th>Asset Type: </th>
	      <td>{{ object.asset_type }}</td>
	    </tr>
	    <tr>
	      <th>OS Type: </th>
	      <td>{{ object.os_type }}</td>
	    </tr>
	    <tr>
	      <th>Product Type: </th>
	      <td>{{ object.product_type }}</td>
	    </tr>
	    <tr>
	      <th>State Type: </th>
	      <td>{{ object.state_type }}</td>
	    </tr>
	    <tr>
	      <th>Department: </th>
	      <td>{{ object.department }}</td>
	    </tr>
	  </tbody>
	</table>



{% endblock %}

