{% extends "base.html" %}

{% block content %}
    <h1>Listing</h1>
    <ul>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Mac Address</th>
                <th>Serial Number</th>
                <th>Date Assigned</th>
                <th>Actions</th>
            </tr>
            {% for object in object_list %}
                <tr>
                    <td>{{ object.display_name }}</td>
                    <td>{{ object.mac_address }}</td>
                    <td>{{ object.serial_number }}</td>
                    <td>{{ object.date_assigned }}</td>
                    <td><a href="{{ object.get_absolute_url }}">Details</a> |
                    <a href="{% url 'itam_app:update' object.pk %}">Update</a> |
                    <a href="{% url 'itam_app:delete' object.pk %}">Delete</a></td>
                </tr>
            {% empty %}
                <tr><td>No items</td></tr>
            {% endfor %}
        </table>
    </ul>

    {% if is_paginated %}
        <div class="pagination">
            <span class="page-links">
                {% if page_obj.has_previous %}
                    <a href="{% url 'itam_app:list' %}?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
                <span class="page-current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
                {% if page_obj.has_next %}
                    <a href="{% url 'itam_app:list' %}?page={{ page_obj.next_page_number }}">next</a>
                {% endif %}
            </span>
        </div>
    {% endif %}


{% endblock %}

